<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="c:\temp\internal-nlog.txt">

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <targets>
    <target xsi:type="Database"
            name="databaseTarget"
            dbProvider="System.Data.SqlClient.SqlConnection, System.Data.SqlClient, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
            keepConnection="true">
      <commandText>
        insert into dbo.Logs ( CreationTime, Level, Message, ExceptionType, StackTrace ) values (@CreationTime, @Level, @Message, @ExceptionType, @StackTrace);
      </commandText>
      <parameter name="@creationtime" layout="${date}" />
      <parameter name="@level" layout="${level}" />
      <parameter name="@message" layout="${message}" />
      <parameter name="@exceptiontype" layout="${exception:type}" />
      <parameter name="@stacktrace" layout="${exception:tostring}" />
    </target>
  </targets>

  <rules>
    <logger name="*" minlevel="Warn" writeTo="databaseTarget" />
  </rules>
</nlog>
